# Build products
*~
*.o
*.in

/src/calcelestial
/src/geonames

# Autotools
INSTALL
aclocal.m4
compile
depcomp
install-sh
missing
config.status
config.h
configure
Makefile
stamp-h1
.deps
/autom4te.cache
